---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import Layout from "@layouts/Layout.astro";
import Title from "@components/shared/Title.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await response.json()) as PokemonListResponse;

  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="Listado de Pokémons">
  <Title>Listado Paginado</Title>

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4 mt-5"
  >
    {
      page.data.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>

  <section class="flex mt-10 gap-2 items-center">
    <a href={page.url.prev} class:list={["btn", { disable: !page.url.prev }]}
      >Anteriores</a
    >

    <a href={page.url.next} class:list={["btn", { disable: !page.url.next }]}
      >Siguientes</a
    >

    <div class="flex flex-1"></div>

    <span class="text-xl font-bold">Página {page.currentPage}</span>
  </section>
</Layout>

<style>
  .btn {
    @apply bg-blue-500 p-2 text-white rounded-md;
  }

  .disable {
    @apply bg-gray-600 text-gray-400;
  }
</style>
